$main-color: #1d1d25
$light-color: lighten(#1d1d25, 30%)
   

body
  color: $main-color
  font-family: 'Raleway'

a
  font-size: 20px
  font-weight: 400
  color: #1d1d25
  text-decoration: none
  &:hover
    text-decoration: none
    color: $light-color

