@font-face
    font-family: "Raleway-Medium"
    src: url("../fonts/Raleway-Medium.ttf")
@font-face
    font-family: "Raleway-Regular"
    src: url("../fonts/Raleway-Regular.ttf")
@font-face
    font-family: "Raleway-Bold_0"
    src: url("../fonts/Raleway-Bold_0.ttf")
@font-face
    font-family: "Raleway-SemiBold_0"
    src: url("../fonts/Raleway-SemiBold_0.ttf")

$main-color: #1d1d25
$light-color: lighten(#1d1d25, 30%)



body
  color: $main-color
  font:
    family: "Raleway-Medium"
    size: 16px
    weight: 400

.navbar-link
  font-size: 20px
  font-weight: 400
  color: #1d1d25
  text-decoration: none
  cursor: pointer
  &:hover
    text-decoration: none
    color: $light-color

.navbar-link,
.navbar-brand
  margin-right: 40px

/*our-hedgehogs*/

.our-hedgehogs
  padding-top: 66px
  padding-bottom: 76px

.section-title
  font-size: 30px
  font-weight: 700
  

.section-subtitle 
  font-size: 18px
  font-weight: 400
  
.section-block
  margin-top: 45px
  
.img-box 
  width: 346px
  height: 220px

img 
  max-width: 100%
  height: 100%
 
.item-title
  font-size: 20px
  font-weight: 700
  margin-bottom: 10px

/*about*/

.about-hedgehogs
  background-color: #f5f5f5

.about-section
  padding-bottom: 74px
  padding-top: 74px
  
.img-box-large
  height: 245px
  padding-left: 150px

.second-row
  margin-top: 40px

/*footer*/

footer
  background-color: #363636
  color: #ffffff
  padding-top: 47px

&-link
  color: #ffffff

 