@font-face {
  font-family: 'Raleway Bold';
  src: url('../fonts/Raleway-Bold.eot');
  src: local('Raleway Bold'), local('Raleway-Bold'),
      url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Bold.woff') format('woff'),
      url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: local('Raleway Regular'), local('Raleway-Regular'),
      url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Regular.woff') format('woff'),
      url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin bold {
  font-family: 'Raleway Bold', sans-serif;
}
@mixin reg {
  font-family: 'Raleway', sans-serif;
}